

   <ul>

        <li id="s1"><img src="https://cdn4.iconfinder.com/data/icons/free-colorful-icons/360/gmail.png"></li>
        <li id ="s1"><p id="text">Gmail</p></li>
        <li id ="search"><input   type ="text" placeholder="search.."></li>
        
        <li title="Profile" id="s3"><i class="material-icons">account_circle</i></li>
        <li title="Google app" id="s3"><i class="material-icons">view_module</i></li>
        <li title="Settings" id="s3"><i class="material-icons">settings_applications</i></li>
   </ul>
