<body>
    <div>

    
     <nav>
        <ul>
            <li>
                    
                <a routerLink="inbox"><i class="material-icons">inbox</i>Inbox</a>
            </li>
            
            <li>
                    
                <a routerLink="inbox"><i class="material-icons">star</i>Stared</a>
            </li>
            <li>
                    
                <a routerLink="inbox"> <i class="material-icons">query_builder</i>Snoozed</a>
            </li>
            <li>
                    
                <a routerLink="inbox"><i class="material-icons">turned_in</i>Important</a>
            </li>
            <li>
                    
                <a routerLink="outbox"><i class="material-icons">send</i>Sent</a>
            </li>
            <li>
                    
                    <a routerLink="inbox"><i class="material-icons">insert_drive_file</i>Draft</a>
            </li>
        </ul>
     </nav>
    </div>
</body>
