body{
    
    color:black;
    height: 100%;


    ul{
        list-style-type: none;
        li{
            padding: 20px;
        }

        head{
            padding:10px;
        }
    }



}    
